@import 'tailwindcss';

@font-face {
  font-family: 'Aftikasoft';
  src: url('/fonts/Fontspring-aftikasoft-extrabold.otf') format('opentype');
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Spline Sans Mono';
  src: url('/fonts/SplineSansMono-Medium.ttf') format('truetype');
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-sans: 'Aftikasoft', sans-serif;
  --font-mono: 'Spline Sans Mono', monospace;
  --color-light-cream: #fff5d3;
  --color-purple: #975497;
  --color-blue: #44228c;
}

html,
body {
  margin: 0;
  width: 100%;
  height: 100dvh;
  background-image: url('/assets/background.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #fff5d3;
}

@media (min-width: 768px) {
  html,
  body {
    background-image: url('/assets/background_desktop.webp');
  }
}

footer {
  background-image: url('/assets/background_footer.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media (min-width: 768px) {
  footer {
    background-image: url('/assets/background_mobile_desktop.webp');
  }
}

.container_all {
  width: 90%;
  margin: auto;
  max-width: 1047px;
}
