---
interface Props {
  href?: string;
}

const { href } = Astro.props;
const baseClasses = 'border border-light-cream rounded-[50px] p-[10px] md:text-[18px] md:py-[12px] md:px-[18px] font-mono inline-block text-center';
---

{
  href ? (
    <a href={href} class={baseClasses}>
      <slot />
    </a>
  ) : (
    <button class={baseClasses}>
      <slot />
    </button>
  )
}
