---
import Footer from '@/components/Footer.astro';
import Navbar from '@/components/Navbar';
import '@/styles/global.css';

interface Props {
  title?: string;
  description?: string;
  canonical?: string;
}

const {
  title = 'Gana una serenata privada con Alejandro González | Una y Mil Noches',
  description = 'Participa para ganar una serenata privada con Alejandro González y dedica Una y Mil Noches. Vive una experiencia única con el artista.',
  canonical = Astro.url.pathname,
} = Astro.props;

const baseUrl = 'https://unaymilnoches.com';
const canonicalURL = new URL(canonical, baseUrl).href;
---

<!doctype html>
<html lang='en'>
  <head>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-WW4HTXV5');</script>
    <!-- End Google Tag Manager -->

    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/favicon.ico' />
    <meta name='generator' content={Astro.generator} />
    <title>{title}</title>
    <meta name='description' content={description} />
    <meta name='robots' content='index, follow' />
    <link rel='canonical' href={canonicalURL} />
    <link rel='sitemap' type='application/xml' href='/sitemap.xml' />
  </head>
  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WW4HTXV5"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>
