---
import Footer from '@/components/Footer.astro';
import Navbar from '@/components/Navbar.astro';
import '@/styles/global.css';
---

<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='generator' content={Astro.generator} />
    <title>Gana una serenata privada con Alejandro González | Una y Mil Noches</title>
    <meta
      name='description'
      content='Participa para ganar una serenata privada con Alejandro González y dedica Una y Mil Noches. Vive una experiencia única con el artista.'
    />
  </head>
  <body>
    <main class='container_all'>
      <Navbar />
      <slot />
    </main>
    <Footer />
  </body>
</html>
